@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  font-family: 'Open Sans', sans-serif;
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

section {
  padding: .5rem 5%;
}

.header {
  background: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1010;
  top: 0;
}

.header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .row .col img {
  width: 3.5rem;
}

.header .row .col .menu a {
  margin-right: 3rem;
  color: #54524f;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .95rem;
  letter-spacing: .1rem;
}

.header .row .col .menu a:hover {
  color: #e2a355;
}

.header .row .col .search-bar {
  background: #99928d;
  border-radius: 5rem;
  padding: .4rem 1rem;
}

.header .row .col .search-bar input {
  background: transparent;
  width: 4rem;
  color: #ffffff;
}

.header .row .col .search-bar label {
  color: #54524f;
  margin-right: 1rem;
  cursor: pointer;
}

.header .row .col .search-bar label:hover {
  color: #e2a355;
}

.design {
  position: absolute;
  left: 0;
  top: 0;
}

.design img {
  height: 5rem;
  width: 100rem;
}

.design2 {
  position: absolute;
  bottom: -1rem;
  left: 0;
}

.design2 img {
  width: 100rem;
  height: 5rem;
}

.btn h3 {
  background-color: #ffffff;
  display: inline-block;
  border-radius: 5rem;
  padding: .5rem 2rem;
  color: #54524f;
  margin-bottom: 1rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn h3::before {
  content: '';
  position: absolute;
  height: 6rem;
  width: 1.5rem;
  background: #ffffff;
  -webkit-box-shadow: 0 0 0.5rem #ffffff;
          box-shadow: 0 0 0.5rem #ffffff;
  -webkit-filter: blur(0.5rem);
          filter: blur(0.5rem);
  opacity: .9;
  top: -1.5rem;
  -webkit-transform: rotate(-30deg) translateX(-5rem);
          transform: rotate(-30deg) translateX(-5rem);
  -webkit-transition: .6s;
  transition: .6s;
}

.btn h3:hover::before {
  -webkit-transform: rotate(-30deg) translate(9rem, 4rem);
          transform: rotate(-30deg) translate(9rem, 4rem);
}

.home {
  background: url("img/home -bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  max-height: 100vh;
}

.home .row {
  margin: 15rem 0;
}

.home .row .col .head {
  color: #deb37e;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4rem;
  letter-spacing: .1rem;
  text-shadow: 0 0.01rem 0.15rem #54524f;
}

.home .row .col .para {
  font-size: 1.3rem;
  font-style: italic;
  color: #54524f;
  margin-bottom: 6rem;
  font-weight: 600;
}

.home .row .col p {
  width: 35%;
  font-style: italic;
  color: #54524f;
}

.second {
  position: relative;
}

.second .shadow {
  position: absolute;
  bottom: 2rem;
  left: -5rem;
}

.second .shadow img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 38rem;
}

.second .row {
  overflow: hidden;
  margin: 5rem 0;
}

.second .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.second .box .box1 {
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.second .box .box1 img {
  width: 100%;
}

.second .box .box1 .box2 {
  background: #99928d;
  padding: 2rem 1rem;
  color: #ffffff;
}

.second .box .box1 .box2 h3 {
  margin-bottom: 2rem;
}

.second .col h1 {
  color: #e2a355;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.second .col p {
  color: #7f7770;
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
}

.second .btn {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.second .btn h3 {
  background: #54524f;
  color: #ffffff;
}

.third .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.third .row .col .box {
  width: 50rem;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.third .row .col .box .mox {
  background: #99928d;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third .row .col .box .mox.jio {
  background: #deb37e;
}

.third .row .col .box .mox h1 {
  text-transform: capitalize;
  font-size: 3.5rem;
  color: #ffffff;
}

.third .row .col .box .mox p {
  color: #ffffff;
  width: 30rem;
  padding: 1rem 0;
}

.third .row .col .box .mox .btn h3 {
  background: #e2a355;
  color: #ffffff;
}

.third .row .col .box img {
  width: 100%;
  height: 100%;
}

.five {
  max-height: 100vh;
  overflow: hidden;
}

.five .fivecontent {
  padding: 10rem 0;
  overflow: hidden;
  background: #99928d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: #ffffff;
}

.five .fivecontent .shadow {
  position: absolute;
  left: -1rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.five .fivecontent .shadow img {
  width: 33rem;
}

.five .fivecontent h2 {
  font-size: 3rem;
  font-weight: normal;
}

.five .fivecontent p {
  width: 50rem;
  text-align: center;
  margin-top: 2rem;
  line-height: 1.5rem;
  letter-spacing: .1rem;
}

.five .fivecontent .desigmn {
  position: absolute;
  left: 0;
  bottom: -2rem !important;
}

.five .fivecontent .desigmn img {
  height: 5rem;
  width: 100rem;
}

.six .row {
  position: relative;
  max-height: 150vh;
  overflow: hidden;
}

.six .row img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.six .row .design {
  position: absolute;
  left: 0;
  right: 0%;
  top: -2rem;
  height: 13rem;
}

.six .row .de {
  position: absolute;
  bottom: 0;
  right: 0%;
  top: -2rem;
  height: 13rem;
}

.six .row .de2 {
  position: absolute;
  bottom: -9rem;
  right: 0%;
}

.six .row .conet {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 5rem;
  left: 2%;
  text-transform: uppercase;
  font-size: 3rem;
  font-style: italic;
  text-align: right;
}

.six .row .conet span {
  color: #e2a355;
}

.seven .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 2rem 0 8rem 0;
}

.seven .row h2 {
  color: #e2a355;
}

.seven .row p {
  padding: 1rem 5rem 1rem 0;
  color: #54524f;
}

.eight {
  background: #deb37e;
  padding: 20rem 0;
  position: relative;
  overflow: hidden;
}

.eight .de {
  position: absolute;
  top: -5rem;
  left: 0;
  height: 1rem;
}

.eight .det {
  position: absolute;
  bottom: 0rem;
  left: 0;
  height: 1rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.eight .row {
  text-align: center;
}

.eight .row h1 {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.eight .row p {
  padding: 1.5rem 25%;
  color: #54524f;
  letter-spacing: .1rem;
}

.eight .row .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 3rem;
}

.eight .row .form input {
  width: 12rem;
  padding: .5rem 1rem;
  border-radius: 5rem;
}

.eight .row .form ::-webkit-input-placeholder {
  font-size: 1rem;
  color: #e2a355;
}

.eight .row .form label {
  background: #54524f;
  padding: .5rem 1rem;
  border-radius: 5rem;
  margin-left: -2rem;
  font-size: 1rem;
}

.last {
  background: #7f7770;
  color: #ffffff;
  overflow-x: hidden;
}

.last .row {
  margin: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.last .row h3 {
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: .15rem;
}

.last .row .col {
  width: 32rem;
}

.last .row .col h3 {
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.last .row .col p {
  margin-bottom: 1.5rem;
  width: 60%;
}

.last .row .col .icons .fab {
  margin-right: 1rem;
  color: #7f7770;
  background: #ffffff;
  padding: .2rem;
  border-radius: 5rem;
}

.last .row .co {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.last .row .co h3 {
  margin-bottom: 1rem;
}

.last .de2 img {
  width: 100%;
}

@media (max-width: 1400px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .eight .row .form label {
    padding: 1rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 45%;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .third .row .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .eight .row .form label {
    padding: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */